<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <meta charset="UTF-8">
    <title>Fileshare</title>
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous">
    </script>  <!-- JQuery -->
    <script type="text/javascript" th:src="@{/js/src/fileshare.js}"></script>
</head>
<body>
<div id="root-folder-container">
    <div th:fileId="${rootFolder.getId()}" fileType="D">
        <button onclick="expandFolder(this)" class="folder-expand folder-unopened" type="button">+</button>
        <span class="file-name" th:text="${rootFolder.getName() + ':'}"/>
        <button onclick="placeFileEvent(this)" class="file-place-btn" type="button" style="display: none;">Place</button>
    </div>
</div>
</body>
</html>