<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<form modelAttribute="userForm" th:action="@{/register}" method="POST">
    <span th:if="${hello != null}" th:text="${hello}"/>
    <div th:if="${errors != null}">
        <ul>
            <li th:each="err : ${errors}" th:text="${err}" />
        </ul>
    </div>
    <div><label>Username: <input type="text" name="username"/> </label></div>
    <div><label>Email : <input type="text" name="email"/> </label></div>
    <div><label>Password: <input type="password" name="password"/> </label></div>
    <div><label>Password Confirmation: <input type="password" name="passwordConfirm"/> </label></div>
    <div><input type="submit" value="Register"/></div>
</form>
</body>
</html>
